$accent: #ff8000;
$dark-mode-accent: lighten($accent, 30);

:root {
    --accent: #{$accent};
    --gray: gray;
    --font: 'franklin-gothic-urw', 'Helvetica Neue', sans-serif;
}

@import 'base';
@import 'components/sidebar';
@import 'components/gallery';
@import 'components/text';
